@import "fonts";
.userStatistics {
    background-color: $color-button-header;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    width: 66%;
    padding-bottom: 3%;
    @include topDiv;
    @include shadow;
    .liStatis {
        @media only screen and(max-width: 768px) {
            .row {
                flex-direction: column;
            }
            p {
                text-align: center;
            }
        }
    }
    .button {
        margin-top: 7%;
        @include shadow;
        &:hover {
            color: $color-history;
        }
    }
    .column {
        .right {
            margin: 0 10px;
        }
    }
    div {
        margin: 2% 0;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}