section {
    .menuSetting {
        border-radius: 28px;
        margin-top: 370px;
        width: 100%;
        @media only screen and (max-width: 768px) {
            margin-top: 260px;
            width: 100%;
        }
        .row {
            justify-content: center;
            @media only screen and (max-width: 768px) {}
        }
        div {
            @media only screen and (max-width: 768px) {
                margin: 1px 1px;
            }
            margin: 0px 10px 3px 0px;
            .b-alert {
                align-items: center;
                background-color: $color-button-header;
                border-radius: 15px;
                color: $color-texto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 120px;
                justify-content: space-evenly;
                width: 120px;
                @include shadow;
                @media only screen and (max-width: 768px) {
                    height: 70px;
                    width: 70px;
                    .img30 {
                        height: 20px;
                        width: 20px;
                    }
                    .img50 {
                        height: 23px;
                        width: 31px;
                    }
                    .img40 {
                        height: 25px;
                        width: 25px;
                    }
                    p {
                        font-size: 0.6em;
                    }
                }
                p {
                    // margin-left: 15px;
                    text-align: center;
                }
                &:hover {
                    background-color: $color-alert;
                    opacity: 0.5;
                    transition: all 600ms ease;
                }
                &:active {
                    background-color: $color-history;
                    color: $color-history;
                    opacity: 1;
                }
            }
        }
    }
}