.addCar {
    margin-top: 200px;
    border-radius: 28px;
    background-color: $color-alert;
    margin-right: 7%;
    margin-left: 7%;
    width: 59%;
    height: 100%;
    margin-top: 200px;
    .formLabel {
        margin-bottom: 10px;
    }
    .inputTrade {
        margin-bottom: 25px;
    }
    li {
        margin: 40px 0;
    }
    .title {
        margin-top: 30px;
    }
}