.addCar {
    margin-top: 250px;
    border-radius: 28px;
    background-color: $color-alert;
    width: 30%;
    height: 300px;
    margin-right: 370px;
}

.h1Title {
    font-weight: bold;
}

.formLabel {
    margin-bottom: 10px;
}

.inputTrade {
    margin-bottom: 25px;
}