.addCar {
    background-color: $color-button-header;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    margin-top: 200px;
    width: 66%;
    div {
        margin: 20px 0;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 3px;
    }
}
