.addInvoice {
    width: 40%;
    background-color: $color-invoice;
    height: 750px;
    margin-top: 230px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 120px;
    @include shadow;
    li {
        margin: 40px 0;
    }
}