.addInvoice {
    align-items: center;
    background-color: $color-invoice;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin-top: 200px;
    padding: 50px 0;
    width: 66%;
    @include shadow;
    li {
        margin: 40px 0;
    }
    .date {
        margin: 0;
        margin-right: 15px;
    }
    // .title {
    //     padding-bottom: 0px;
    // }
}
