@import'color';
.trademark {
    font-size: 16px;
}

.column {
    @include column;
    justify-content: space-evenly;
}

.row {
    @include row;
}

.invoiceCar {
    width: 60%;
    margin-top: 120px;
    .containedCar {
        background-color: $color-alert;
        width: 60%;
        margin-top: 30px;
        border-radius: 28px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // align-items: center;
        height: 800px;
    }
}

.input {
    // background-color: $color-button-header;
    border-radius: 15px;
    width: 100%;
    height: 30px;
}

.textTitle {}

.selectCar {
    margin-bottom: 20px;
}

.textTitleInput {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.h3Car {
    font-weight: bold;
    font-size: 1.2em;
}

.inputSpace {
    margin-right: 81px;
}

.buttonSubmit {
    margin-top: 20px;
}