.addInvoice {
    background-color: $color-invoice;
    border-radius: 28px;
    height: 100%;
    padding: 0px 2px;
    padding-bottom: 4%;
    width: 66%;
    @include topDiv;
    @include shadow;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .column {
        .row {
            @media only screen and(max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    li {
        margin: 40px 0;
    }
    .date {
        margin: 0;
        margin-right: 15px;
    }
}