@import "color";
.invoiceCar {
    background-color: $color-alert;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    margin-top: 210px;
    margin-left: 17%;
    padding: 2px;
    padding-bottom: 2.5%;
    width: 59%;
    @include shadow;
    @media only screen and(max-width: 768px) {
        margin-left: 0%;
        margin-right: 2%;
        width: 100%;
        .column {
            .column {
                .column {
                    .row {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
    div {
        margin: 10px 0;
    }
    .date {
        margin: 0px 10px;
    }
}