@import "color";
section {
    .alerts {
        background-color: $color-alert;
        border-radius: 28px;
        height: 100%;
        margin-top: 200px;
        padding: 50px 0px;
        width: 66%;
        @include shadow;
        @media only screen and (max-width: 768px) {
            padding: 10px 5px;
            width: 100%;
            h6 {
                text-align: center;
                padding: 0px 20px;
            }
        }
        .button {
            @include activeBlue;
            @include hoverBlue;
        }
        th {
            width: 200px;
            padding-bottom: 5px;
            text-align: center;
        }
        td {
            text-align: center;
            padding: 2px;
        }
        .select {
            @include select;
        }
        li {
            margin: 30px 0px;
        }
        .column {
            @media only screen and (max-width: 768px) {
                overflow-x: auto;
                margin: 10px 0px;
            }
        }
    }
}
