@import "color";
.user {
    background-color: $color-alert;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    margin-top: 210px;
    margin-left: 17%;
    padding-bottom: 1%;
    width: 59%;
    @include shadow;
    @media only screen and(max-width: 873px) {
        width: 100%;
        margin-left: 0%;
        margin-right: 3%;
        h1 {
            text-align: center;
            padding: 4% 2%;
        }
        label {
            text-align: center;
            padding: 0% 2%;
        }
    }
    .textPassword {
        font-size: 0.8em;
        margin-top: 3px;
        text-align: center;
        width: 50%;
        display: inline-block;
    }
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    div {
        .message {
            text-align: center;
            font-weight: bold;
            font-size: 0.9em;
            color: red;
            @media screen and (max-width:768px){
                overflow-wrap: break-word;
                hyphens: manual;
            }
        }
        padding-bottom: 20px;
        .button {
            margin-top: 30px;
        }
    }
}

.pass {
    .input {
        width: 45%;
    }
}