@import 'color';
.user {
    width: 30%;
    height: 450px;
    background-color: $color-alert;
    margin-top: 250px;
    border-radius: 28px;
    padding-top: 40px;
    margin-right: 370px;
}

.form {
    margin-top: 20px;
}