@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "montserratExtra";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

.title {
    font-family: "montserratExtra";
    letter-spacing: 0.1em;
    padding: 1.1em 0em;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
        text-align: center;
    }
}

h6 {
    @media only screen and (max-width: 768px) {
        text-align: center;
        margin-bottom: 5px;
    }
}
