footer {
    background-color: #e9ebf0;
    margin: 15% 0% 0% 0%;
    padding: 0% 10%;
    nav {
        // line-height: 0;
        margin-right: 0;
    }
    nav ul {
        display: flex;
        justify-content: center;
        div {
            margin: 0 50px;
        }
        @media screen and (max-width: 768px) {
            @include column;
            flex-wrap: nowrap;
        }
    }
    .law {
        li {
            margin: 5% 0;
        }
    }
    .social {
        flex-wrap: nowrap;
        li {
            width: 100%;
            margin: 0 9%;
            padding-top: 10px;
            @media screen and(max-width: 768px) {
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    li {
        // width: 100%;
        // margin-bottom: 15%;
        font-size: 1em;
        @media screen and (max-width: 768px) {
            margin: 2% auto;
        }
        div {
            p {
                color: #7f7d7f;
                text-align: center;
            }
            a {
                color: #7f7d7f;
            }
        }
    }
}