.help {
    width: 100%;
    .banner {
        background-color: $color-alert;
        border-radius: 28px;
        color: $color-texto;
        padding: 30px;
        width: 100%;
        @include topDiv;
        @include shadow;
        margin-left: 0;
        h6 {
            text-align: center;
            margin-bottom: 20px;
        }
        .row {
            flex-wrap: nowrap;
            margin: 1% 0%;
            p {
                line-height: 1.2;
                text-align: justify-all;
                margin-left: 2%;
            }
            @media screen and(max-width:768px) {
                margin: 2% 1%;
            }
            .text {
                text-align: justify;
            }
        }
        .end {
            text-align: left;
            padding-right: 27%;
        }
        .begin {
            margin-top: 5%;
        }
    }
    @media screen and(max-width:768px) {
        .banner {
            padding: 50px 2px;
            width: 100%;
            margin-right: 30%;
        }
    }
}