.history {
    background-color: $color-history;
    border-radius: 28px;
    height: 100%;
    margin-top: 200px;
    width: 66%;
    @include shadow;
    // .contained {
    //     margin: 20px 0px;
    //     width: 90%;
    //     height: 80%;
    // }
    select {
        // @include select;
    }
    .column {
        @media only screen and(max-width:768px) {
            margin: 10px 0px;
        }
    }
    div {
        padding: 10px 20px;
        @media only screen and(max-width:768px) {
            padding: 5px 0px;
        }
    }
    .space {
        // margin: 0px 1.5em;
    }
    .data {
        // width: 100%;
    }
    .row {
        justify-content: center;
    }
}
