.form-signin {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media only screen and (max-width: 768px) {}
    .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .containerMain {
            margin-top: 10em;
            .container {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 1.2em;
            }
        }
    }
}

.header {
    .conextion {
        margin-right: 5em;
    }
}