.listedHistory {
    width: 66%;
    height: 100%;
    margin-right: 7%;
    margin-top: 200px;
    border-radius: 28px;
    background-color: $color-history;
    // flex-direction: column;
    // justify-content: space-between;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    .contained {
        margin: 20px 0px;
        width: 90%;
        height: 100%;
        .table {
            margin-top: 50px;
            height: 100%;
        }
        td,
        th {
            width: 120px;
            height: 0px;
            padding: 10px 15px;
            // text-align: center;
            // text-transform: uppercase;
        }
    }
}
