        .nsubmit {
            margin-top: 50px;
        }
        
        .parrafo-compte {
            margin-bottom: 5px;
        }
        
        .pa {
            margin-bottom: 29px;
        }
        
        .parrafo-mot {
            margin-top: 1px;
            text-align: right;
            color: black;
        }
        
        .button p,
        .creercompte p {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            /* margin: 0; */
            font-weight: bold;
            color: #f2f2f2;
        }
        
        .menu-login .message {
            padding-top: 2px;
            font-weight: bold;
        }
        
        // .button {
        //     width: 240px;
        //     height: 35px;
        //     border-radius: 15px;
        //     background-color: $color-button-header;
        //     border-color: transparent;
        //     color: $color-texto;
        // }