.mention {
    padding: 5% 15%;
    color: black;
    line-height: 25px;
    ul li {
        list-style-type: circle;
        margin-left: 4%;
    }

    p {
        color: #353535;
        font-size: 1em;
        text-align: left;
        padding: 20px;
    }
}
