.select-car {
    background-color: $color-button-header;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    margin-top: 200px;
    width: 66%;
    div {
        margin: 25px 0px;
    }
    .select {
        width: 100%;
    }
    form {
        // margin-top: 200px;
    }
    @media screen and(max-width:768px) {
        width: 100%;
    }
}
