@import 'color';
.statistics {
    width: 60%;
    height: 350px;
}

.statistics .contained {
    background-color: $color-statistic;
    width: 60%;
    height: 350px;
    margin-top: 100px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.date {
    margin: 0 15px 0 15px;
}