.white-car {
    margin-top: 200px;
    width: 59%;
    background-color: $color-alert;
    border-radius: 28px;
    li {
        margin-bottom: 40px;
    }
    .select {
        width: 100%;
    }
    form {
        margin-top: 200px;
    }
}
