// Colors
$color-invoice: #8c641b;
$color-alert: #d9bd30;
$color-statistic: #bf9926;
$color-history: #d94625;
$color-header: #d94625;
$color-shadow: #b4b2ba;
$color-texto: #f2f2f2;
$color-text-footer: #f6f6f6;
$color-button-header: #083540;
// Fonts
$default-font: "montserrat", sans-serif;

@import "reset";
@import "fonts";
@import "mixins";
@import "default";
@import "header";
@import "footer";
@import "home";
@import "_loginHeader";
@import "color";
@import "login";
@import "reception";
@import "sidebar";
@import "alert";
@import "invoice";
@import "statistics";
@import "history";
@import "compteSetting";
@import "addInvoiceCar";
@import "addCar";
@import "editUser";
@import "editStatisticsCar";
@import "addInvoice";
@import "addInvoiceMenu";
@import "editInvoice";
@import "deleteInvoice";
@import "modifyInvoice";
@import "listedHistory";
@import "selectCar";
@import "settingMenu";
@import "fuel";
@import "pswforget";
@import "index";
@import "maintenance";
@import "headerAdmin";
@import "white";
@import "execute";
@import "404";
@import "mention";
@import "help";
