// Colors
$color-invoice: #8c641b;
$color-alert: #d9bd30;
$color-statistic: #bf9926;
$color-history: #d94625;
$color-header: #d94625;
$color-shadow: #b4b2ba;
$color-texto: #f2f2f2;
$color-button-header: #083540;
// Fonts
$default-font: "montserrat", sans-serif;
input {
    border-radius: 15px;
    color: black;
    font-family: "montserrat";
    height: 30px;
    text-align: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.select {
    width: 50%;
    height: 30px;
    font-family: "montserrat";
    border-radius: 15px;
    margin-top: 5px;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.trademark {
    font-size: 16px;
    font-weight: bold;
}
.button {
    background-color: $color-button-header;
    border-color: transparent;
    border-radius: 15px;
    box-shadow: 2px 5px 15px -2px $color-shadow;
    color: $color-texto;
    filter: drop-shadow(2px 5px 15px -2px $color-shadow);
    height: 35px;
    text-transform: uppercase;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
        filter: drop-shadow(2px 5px 15px -2px #18a8cc);
        box-shadow: $color-shadow 0px 22px 70px 4px;
    }
    &:hover {
        background-color: #18a8cc;
        opacity: 0.8;
        transition: all 600ms ease;
    }
}

table {
    th {
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 1.2em;
        text-transform: uppercase;
        text-decoration: underline 0.2em;
        text-align: center;
    }
    td {
        text-align: center;
    }
}

@import "reset";
@import "fonts";
@import "mixins";
@import "default";
@import "header";
@import "footer";
@import "home";
@import "_loginHeader";
@import "color";
@import "login";
@import "pageReception";
@import "sidebar";
@import "alert";
@import "invoice";
@import "statistics";
@import "history";
@import "compteUser";
@import "compteSetting";
@import "addInvoiceCar";
@import "addCar";
@import "editUser";
@import "editStatisticsCar";
@import "addInvoice";
@import "addInvoiceMenu";
@import "editInvoice";
@import "deleteInvoice";
@import "modifyInvoice";
@import "listedHistory";
@import "whiteCar";
@import "menuSetting";
