.menuInvoice {
    margin-top: 370px;
    width: 100%;
    justify-content: center;
    @media only screen and (max-width: 768px) {
        margin-top: 260px;
        width: 100%;
    }
    .row {
        justify-content: center;
        align-items: center;
    }
    .boton {
        @include column;
        height: 120px;
        width: 120px;
        margin: 0 10px;
        background-color: $color-invoice;
        justify-content: center;
        border-radius: 15px;
        @include shadow;
        @media only screen and (max-width: 768px) {
            height: 70px;
            width: 70px;
            margin: 0 2px;
            // margin-bottom: 0px;
        }
        &:hover {
            background-color: $color-alert;
            opacity: 0.5;
            transition: all 600ms ease;
        }
        &:active {
            background-color: $color-history;
            color: $color-history;
            opacity: 1;
        }
    }
    p {
        color: $color-texto;
        // text-transform: uppercase;
        margin-top: 15px;
        line-height: 1.2;
        letter-spacing: 1.2px;
        text-align: center;
        @media only screen and(max-width: 768px) {
            margin-top: 0;
            font-size: 0.6em;
        }
    }
}