footer {
    margin: 5% 0 1% 0;

    padding: 0 10%;
    nav ul {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            @include column;
        }
    }
    li {
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        @media screen and (max-width: 768px) {
            margin: 2% auto;
        }
        div {
            p {
                color: #7f7d7f;
                text-align: center;
            }
            a {
                color: #7f7d7f;
            }
        }
    }
}
