/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "montserratExtra";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  max-width: 1920px;
  font-family: "montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

input {
  border-radius: 15px;
  color: black;
  font-family: "montserrat";
  height: 30px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  input {
    width: 80%;
  }
}

section {
  width: 66%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.select {
  width: 100%;
  height: 30px;
  font-family: "montserrat";
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 2%;
}
@media screen and (max-width: 768px) {
  main {
    justify-content: space-around;
  }
}

.trademark {
  font-size: 16px;
  font-weight: bold;
}

.button {
  align-items: center;
  background-color: #083540;
  border-color: transparent;
  border-radius: 15px;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  color: #f2f2f2;
  display: flex;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  justify-content: center;
  height: 35px;
  text-transform: uppercase;
  width: 240px;
}
@media only screen and (max-width: 768px) {
  .button {
    width: 180px;
    font-size: 0.7em;
  }
}
.button:active {
  filter: drop-shadow(2px 5px 15px -2px #18a8cc);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
.button:hover {
  background-color: #18a8cc;
  opacity: 0.8;
  transition: all 600ms ease;
}
.button:visited {
  background-color: #18a8cc;
  opacity: 0.8;
  transition: all 600ms ease;
}

table th {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: underline 0.2em;
  text-align: center;
}
table td {
  text-align: center;
}

.title {
  font-family: "montserratExtra";
  letter-spacing: 0.1em;
  padding: 1% 0%;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
}

h6 {
  text-align: center;
  margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  h6 {
    text-align: center;
    margin-bottom: 5px;
  }
}

.closed {
  display: inline-block;
  padding-top: 2%;
  margin-left: 93%;
  text-align: right;
  width: 25px;
}
@media screen and (max-width: 768px) {
  .closed {
    margin-top: 2%;
    margin-left: 85%;
  }
}

.header {
  width: 100%;
  height: 140px;
  background-color: #d94625;
  position: fixed;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  text-decoration: none;
  z-index: 999;
}
.header .logo {
  display: inline-block;
  margin-top: 1%;
}
.header .logo p {
  color: white;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .header .logo {
    padding-left: 5%;
  }
  .header .logo img {
    height: 75px;
    width: 140px;
  }
}
.header nav {
  margin-right: 0;
  padding: 0% 3%;
}
@media screen and (max-width: 768px) {
  .header nav {
    padding: 2% 6% 0% 0%;
  }
}
.header a {
  text-decoration: none;
}
.header .row {
  padding: 0% 3%;
}
@media screen and (max-width: 768px) {
  .header .row {
    padding: 0;
  }
}
.header .row .navegation .nave .li_button a .buttonA {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1em;
  justify-content: space-evenly;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .header .row .navegation .nave .li_button a .buttonA {
    height: 35px;
    width: 125px;
    margin-right: 11px;
  }
  .header .row .navegation .nave .li_button a .buttonA img {
    height: 25px;
    width: 25px;
  }
  .header .row .navegation .nave .li_button a .buttonA p {
    font-size: 0.7em;
  }
}
.header .row .navegation .nave .li_button a .button_admin {
  align-items: center;
  background-color: #083540;
  border-color: transparent;
  border-radius: 15px;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1em;
  height: 40px;
  justify-content: space-evenly;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .header .row .navegation .nave .li_button a .button_admin {
    height: 35px;
    width: 125px;
  }
  .header .row .navegation .nave .li_button a .button_admin img {
    height: 25px;
    width: 25px;
  }
  .header .row .navegation .nave .li_button a .button_admin p {
    font-size: 0.7em;
  }
}
.header .row .bonjour {
  padding-top: 3px;
}
.header .row .bonjour p {
  width: 100%;
  text-align: left;
  padding-left: 0px;
  color: #f2f2f2;
}

footer {
  background-color: #e9ebf0;
  font-size: 15px;
  margin: 38% 0% 0% 0%;
  padding: 1% 10%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer {
    margin: 100% 0 0 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  footer {
    margin-top: 65%;
  }
}
footer nav {
  margin-right: 0;
}
footer nav ul {
  display: flex;
  justify-content: space-evenly;
}
footer nav ul div {
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  footer nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
  }
}
footer .law {
  display: flex;
}
@media screen and (max-width: 768px) {
  footer .law {
    flex-direction: column;
  }
}
footer .law li {
  margin: 5% 0;
}
@media screen and (max-width: 768px) {
  footer .row {
    justify-content: space-around;
  }
}
footer .social {
  flex-wrap: nowrap;
}
footer .social li {
  width: 100%;
  margin: 0 20%;
  padding-top: 10px;
  padding: 0 5% px;
}
@media screen and (max-width: 768px) {
  footer .social li img {
    height: 30px;
    width: 30px;
  }
}
footer li {
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  footer li {
    margin: 2% auto;
  }
}
footer li div p {
  color: #7f7d7f;
  text-align: center;
}
footer li div a {
  color: #7f7d7f;
}

.menu-login {
  align-items: center;
  height: 100%;
  justify-content: space-around;
  margin-top: 220px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .menu-login {
    width: 100%;
    margin-top: 150px;
  }
}
.menu-login .message {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
  margin: 1% 0;
}
.menu-login .new {
  margin-top: 5%;
  width: 100%;
}
.menu-login .new .compte {
  background-color: #d9bd30;
  border-radius: 28px;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
.menu-login .new .compte:hover {
  background-color: rgba(217, 189, 48, 0.5);
  transition: all 600ms ease;
}
.menu-login .new .compte:active {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
.menu-login .newLogin {
  background-color: #d9bd30;
  border-radius: 28px;
  padding: 3% 0;
  width: 50%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 768px) {
  .menu-login .newLogin {
    width: 100%;
  }
}
.menu-login .newLogin .column {
  flex-wrap: nowrap;
}
.menu-login .newLogin .column .as {
  overflow-wrap: break-word;
  hyphens: manual;
  width: 80%;
}
.menu-login .newLogin label {
  text-align: center;
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .menu-login .newLogin .mail {
    margin-bottom: 20%;
  }
  .menu-login .newLogin .password {
    margin-bottom: 20%;
  }
  .menu-login .newLogin .column .as {
    width: 70%;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .menu-login .newLogin .mail {
    margin-bottom: 15%;
  }
  .menu-login .newLogin .password {
    margin-bottom: 15%;
  }
  .menu-login .newLogin .column .as {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .menu-login .newLogin .mail {
    margin-bottom: 56%;
  }
  .menu-login .newLogin .password {
    margin-bottom: 55%;
  }
  .menu-login .newLogin .password .message {
    overflow-wrap: break-word;
    hyphens: manual;
    width: 100%;
  }
}
.menu-login .newLogin div {
  height: 100px;
}
.menu-login .newLogin div .textPassword {
  font-size: 0.8em;
  text-align: center;
  width: 80%;
}
.menu-login .newLogin form {
  margin: 0 25px;
  width: 65%;
}
@media only screen and (max-width: 768px) {
  .menu-login .newLogin form {
    padding: 20px 40px;
    width: 100%;
    margin: 0;
  }
  .menu-login .newLogin form .conf-password {
    margin-top: 0;
  }
}
.menu-login .newLogin form .pseudo {
  margin-bottom: 30px;
}
.menu-login .newLogin form .div-button {
  margin-top: 50px;
}
.menu-login .newLogin .parrafo-compte {
  margin-bottom: 5px;
  text-align: center;
}
.menu-login .newLogin .parrafo-mot {
  margin-top: 1px;
  text-align: right;
  color: black;
}
.menu-login .newLogin button {
  display: block;
}
@media screen and (max-width: 768px) {
  .menu-login .newLogin .submit {
    width: 140px;
  }
}
.menu-login .newLogin .submit:active {
  filter: drop-shadow(2px 5px 15px -2px #18a8cc);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
.menu-login .newLogin .submit:hover {
  background-color: #18a8cc;
  opacity: 0.8;
  transition: all 600ms ease;
}
@media screen and (max-width: 768px) {
  .menu-login .newLogin p {
    font-size: 0.8em;
    text-align: center;
  }
}
.menu-login .login {
  background-color: #d9bd30;
  border-radius: 28px;
  margin-bottom: 0px;
  padding-top: 20px;
  width: 50%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .menu-login .login {
    width: 100%;
  }
}
.menu-login .login div {
  height: 80px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .menu-login .login div {
    width: 100%;
  }
}
.menu-login .login div label {
  text-align: center;
}
.menu-login .login div .textPassword {
  font-size: 0.8em;
  text-align: center;
  width: 30%;
}
.menu-login .login form {
  width: 100%;
}
.menu-login .login form .conf-password {
  margin-top: 3%;
}
.menu-login .login form .pseudo {
  height: 100px;
  margin-bottom: 50px;
}
.menu-login .login form .div-button {
  margin-top: 85px;
}
@media only screen and (max-width: 768px) {
  .menu-login .login form {
    padding: 20px 40px;
  }
}
.menu-login .login .parrafo-compte {
  margin-bottom: 5px;
}
.menu-login .login .parrafo-mot {
  margin-top: 1px;
  text-align: right;
  color: black;
  text-align: center;
}
.menu-login .login button {
  display: block;
}
@media screen and (max-width: 1115px) {
  .menu-login .login button {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .menu-login .login .submit {
    width: 130px;
  }
}
.menu-login .login .submit:active {
  filter: drop-shadow(2px 5px 15px -2px #18a8cc);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
.menu-login .login .submit:hover {
  background-color: #18a8cc;
  opacity: 0.8;
  transition: all 600ms ease;
}
@media screen and (max-width: 768px) {
  .menu-login .login p {
    font-size: 0.8em;
    text-align: center;
  }
}

.accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.accueil .texto {
  background-color: #bf9926;
  border: 2px;
  border-color: transparent;
  border-radius: 28px;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  height: 100%;
  padding: 10px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .accueil .texto {
    width: 80%;
  }
}
.accueil .texto p {
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .accueil .texto p {
    font-size: 0.9em;
  }
}
.accueil .continuer {
  align-items: center;
  background-color: #083540;
  border-radius: 15px;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  display: flex;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  height: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: 30px;
  padding: 5px;
  width: 50%;
}
.accueil .continuer a {
  color: #f2f2f2;
}
@media screen and (max-width: 768px) {
  .accueil .continuer a {
    text-align: center;
    font-size: 0.8em;
  }
}

.deleteInvoice {
  width: 100%;
  height: 250px;
  border-radius: 28px;
  background-color: #d9bd30;
  margin-top: 200px;
}

.conta {
  justify-content: center;
  width: 54%;
  height: 100%;
  margin-right: 19%;
}

.sidebarCompte {
  margin-left: 7%;
  padding-top: 200px;
  width: 100%;
  float: left;
  margin-bottom: 39%;
}
@media only screen and (max-width: 873px) {
  .sidebarCompte {
    width: 100%;
    margin-left: 1%;
  }
}
.sidebarCompte li {
  margin-top: 10px;
}
.sidebarCompte li .b-alert {
  align-items: center;
  background-color: #d9bd30;
  border-radius: 15px;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  padding: 20px;
  width: 100%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 873px) {
  .sidebarCompte li .b-alert {
    flex-direction: column;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    height: 75px;
    width: 75px;
  }
}
.sidebarCompte li .b-alert img {
  margin-left: 10px;
}
@media only screen and (max-width: 873px) {
  .sidebarCompte li .b-alert img {
    height: 15px;
    width: 15px;
    margin-left: 0px;
  }
}
.sidebarCompte li .b-alert p {
  margin-left: 15px;
  text-align: left;
}
@media only screen and (max-width: 873px) {
  .sidebarCompte li .b-alert p {
    font-size: 0.6em;
    margin-left: 0px;
    text-align: center;
  }
}
.sidebarCompte li .b-alert:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
.sidebarCompte li .b-alert:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}
.sidebarCompte li .b-alert:visited {
  background-color: #d9bd30;
  opacity: 0.5;
}

nav {
  margin-right: 8%;
}
@media screen and (max-width: 768px) {
  nav {
    margin-right: 0;
  }
}
nav .sidebarAdmin {
  float: left;
  padding-right: 50px;
  margin-top: 180px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  nav .sidebarAdmin {
    margin-top: 150px;
    margin-left: 0px;
    padding: 0 1%;
  }
}
nav .sidebarAdmin .submenu {
  padding-top: 10px;
}
nav .sidebarAdmin ul {
  margin-bottom: 15px;
}
nav .sidebarAdmin ul p {
  color: black;
  padding-bottom: 2px;
}
nav .sidebarAdmin ul li {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  nav .sidebarAdmin ul li .column .column {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
}
nav .sidebarAdmin ul li .border {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  border-radius: 7px;
  color: #f2f2f2;
  justify-content: stretch;
  padding: 7px;
  width: 40px;
  height: 40px;
}
nav .sidebarAdmin ul li .border img {
  margin-bottom: 5px;
}
nav .sidebarAdmin ul li .border:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
nav .sidebarAdmin ul li .border:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  nav .sidebarAdmin ul li .border {
    width: 40px;
    height: 40px;
    padding: 10px 1px 0px 1px;
    margin-top: 0px;
  }
  nav .sidebarAdmin ul li .border img {
    width: 25px;
    height: 25px;
  }
  nav .sidebarAdmin ul li .border p {
    font-size: 0.8em;
  }
}
nav .sidebarAdmin .b-alert {
  background-color: #d9bd30;
}
nav .sidebarAdmin .b-invoice {
  background-color: #8c641b;
}
nav .sidebarAdmin .b-statistic {
  background-color: #bf9926;
}
nav .sidebarAdmin .b-history {
  background-color: #d94625;
}
nav .sidebarAdmin .b-setting {
  background-color: #083540;
}

section .alerts {
  background-color: #d9bd30;
  border-radius: 28px;
  height: 100%;
  padding-bottom: 4%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  section .alerts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media only screen and (max-width: 768px) {
  section .alerts {
    padding: 10px 5px;
    width: 100%;
  }
}
section .alerts .button:active {
  filter: drop-shadow(2px 5px 15px -2px #18a8cc);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
section .alerts .button:hover {
  background-color: #18a8cc;
  opacity: 0.8;
  transition: all 600ms ease;
}
section .alerts th {
  width: 200px;
  padding-bottom: 5px;
  text-align: center;
}
section .alerts td {
  text-align: center;
  padding: 0px;
  margin: 0px 2px;
}
section .alerts .select {
  width: 50%;
  height: 30px;
  font-family: "montserrat";
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
}
section .alerts div {
  margin: 10px 0px;
}
@media only screen and (max-width: 768px) {
  section .alerts .column {
    overflow-x: auto;
    margin: 10px 3px;
  }
  section .alerts .column td {
    font-size: 0.7em;
  }
}

.car {
  width: 60%;
  height: 450px;
}

.car .contained {
  background-color: #d9bd30;
  width: 60%;
  height: 450px;
  margin-top: 0;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.car .contained {
  height: 700px;
}

.as {
  width: 100%;
}

.data {
  height: 150px;
}

.confirmation {
  height: 60px;
}

.confirmation .conf {
  background-color: #083540;
  width: 100%;
  height: 35px;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 0 18px;
  justify-content: center;
}

.conf p {
  letter-spacing: 1pt;
  font-weight: bold;
  text-transform: uppercase;
}

.km {
  margin: 0 15px 0 15px;
}

.statistics {
  background-color: #bf9926;
  border-radius: 28px;
  height: 100%;
  padding: 0px 2px;
  padding-bottom: 2.5%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .statistics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .statistics {
    width: 100%;
  }
}
.statistics .column {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .statistics .column {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .statistics .column {
    overflow-x: auto;
  }
}
.statistics div {
  margin: 10px 0px;
}
.statistics table {
  width: 100%;
  margin: 10px 0px;
}
.statistics td,
.statistics th {
  text-align: center;
  padding-left: 20px;
}
.statistics th {
  vertical-align: bottom;
  padding-bottom: 10px;
}
.statistics h1 {
  margin-bottom: 20px;
}

.listedstatistics {
  background-color: #bf9926;
  border-radius: 28px;
  height: 100%;
  margin-top: 200px;
  padding: 0px 2px;
  padding-bottom: 2.5%;
  width: 100%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .listedstatistics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.listedstatistics .column {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .listedstatistics .column {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .listedstatistics .column {
    overflow-x: auto;
  }
}
.listedstatistics div {
  margin: 10px 0px;
}
.listedstatistics table {
  width: 100%;
  margin: 10px 0px;
}
.listedstatistics td,
.listedstatistics th {
  text-align: center;
  padding-left: 20px;
}
.listedstatistics th {
  vertical-align: bottom;
  padding-bottom: 10px;
}
.listedstatistics h1 {
  margin-bottom: 20px;
}

.date {
  margin: 0 15px 0 15px;
}

.menuStatistics {
  margin-top: 370px;
  width: 100%;
  padding-bottom: 2.5%;
}
.menuStatistics .row {
  justify-content: center;
}
.menuStatistics .row a {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .menuStatistics {
    margin-top: 260px;
    width: 100%;
  }
}
.menuStatistics .container {
  margin-right: 8%;
}
@media only screen and (max-width: 768px) {
  .menuStatistics .container a {
    margin: 1%;
  }
}
.menuStatistics .container .period,
.menuStatistics .container .total,
.menuStatistics .container .graphic {
  align-items: center;
  background-color: #bf9926;
  border-radius: 20%;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 120px;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 768px) {
  .menuStatistics .container .period,
.menuStatistics .container .total,
.menuStatistics .container .graphic {
    height: 70px;
    width: 70px;
  }
}
.menuStatistics .container .period:active,
.menuStatistics .container .total:active,
.menuStatistics .container .graphic:active {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: #b4b2ba 0px 22px 70px 4px;
}
.menuStatistics .container .period:hover,
.menuStatistics .container .total:hover,
.menuStatistics .container .graphic:hover {
  opacity: 0.7;
}
.menuStatistics .container .period p,
.menuStatistics .container .total p,
.menuStatistics .container .graphic p {
  color: #f2f2f2;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .menuStatistics .container .period p,
.menuStatistics .container .total p,
.menuStatistics .container .graphic p {
    font-size: 0.6em;
  }
}

.totalStatistics {
  background-color: #bf9926;
  border-radius: 28px;
  height: 100%;
  margin-top: 200px;
  padding: 0px 1px 2px 1px;
  padding-bottom: 2.5%;
  width: 100%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .totalStatistics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.totalStatistics .container {
  margin: 30px 0px;
}
@media only screen and (max-width: 768px) {
  .totalStatistics .container .column {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .totalStatistics .container .column {
    overflow-x: auto;
  }
}
.totalStatistics .container table {
  width: 90%;
  margin-top: 50px;
}
.totalStatistics .container th {
  font-size: 0.8em;
  padding: 0px 5px 10px 5px;
}
.totalStatistics .container td {
  font-size: 16px;
}

.listedGraphics {
  height: 100%;
  margin-top: 200px;
  width: 100%;
  margin-bottom: 2.5%;
}
.listedGraphics .title {
  color: black;
}
.listedGraphics .row .start {
  margin-bottom: 30px;
}
.listedGraphics .row .end {
  margin-bottom: 30px;
}
.listedGraphics .row p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (max-width: 1580px) {
  .listedGraphics .row .start {
    width: 50%;
  }
  .listedGraphics .row .end {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .listedGraphics .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .listedGraphics .row .start {
    width: 100%;
  }
  .listedGraphics .row .end {
    width: 100%;
  }
}
.listedGraphics .container {
  width: 100%;
}
.listedGraphics .container .title {
  margin-top: 20px;
}
.listedGraphics .container .graph {
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}
.listedGraphics .container .graph .graphic {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150px;
}
.listedGraphics .container .graph .graphic .invtoll {
  background-color: #fc2323;
}
.listedGraphics .container .graph .graphic .invfuel {
  background-color: #6bf7ff;
}
.listedGraphics .container .graph .graphic .invoil {
  background-color: #fc4517;
}
.listedGraphics .container .graph .graphic .invtiming {
  background-color: #46ff7b;
}
.listedGraphics .container .graph .graphic .invinsurance {
  background-color: #4f0afc;
}
.listedGraphics .container .graph .graphic .invpneu {
  background-color: #fced30;
}
.listedGraphics .container .graph .graphic .invtechnical {
  background-color: #fc6b0a;
}
.listedGraphics .yearEnd {
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}
.listedGraphics .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin: 100px 0;
}
.listedGraphics .list li {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.listedGraphics .list p {
  color: #f2f2f2;
  margin-right: 10px;
}
.listedGraphics .list span {
  width: 15px;
  height: 15px;
  border-radius: 15%;
  margin-right: 5px;
}
.listedGraphics .list .invtoll {
  background-color: #fc2323;
}
.listedGraphics .list .invfuel {
  background-color: #6bf7ff;
}
.listedGraphics .list .invoil {
  background-color: #fc4517;
}
.listedGraphics .list .invtiming {
  background-color: #46ff7b;
}
.listedGraphics .list .invinsurance {
  background-color: #4f0afc;
}
.listedGraphics .list .invpneu {
  background-color: #fced30;
}
.listedGraphics .list .invtechnical {
  background-color: #fc6b0a;
}

.fuelStatistics {
  background-color: #bf9926;
  border-radius: 28px;
  height: 100%;
  padding: 0px 1px 30px 1px;
  padding-bottom: 2.5%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .fuelStatistics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .fuelStatistics {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .fuelStatistics .table {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .fuelStatistics .table {
    overflow-x: auto;
  }
}
.fuelStatistics .table table th {
  padding: 0.5em 0.5em;
}

.menu-statisticsGraph {
  background-color: #bf9926;
  border-radius: 28px;
  height: 100%;
  padding-bottom: 2.5%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .menu-statisticsGraph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.menu-statisticsGraph div {
  margin: 10px 0px;
}
@media screen and (max-width: 768px) {
  .menu-statisticsGraph {
    width: 100%;
  }
}

.history {
  background-color: #d94625;
  border-radius: 28px;
  height: 100%;
  padding-bottom: 2.5%;
  width: 76%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .history {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media only screen and (max-width: 768px) {
  .history .column {
    margin: 10px 0px;
  }
}
.history div {
  padding: 10px 20px;
}
@media only screen and (max-width: 768px) {
  .history div {
    padding: 5px 0px;
  }
}
.history .row {
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .history {
    width: 100%;
  }
}

.invoiceCar {
  background-color: #d9bd30;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  margin-top: 210px;
  margin-left: 17%;
  padding: 2px;
  padding-bottom: 2.5%;
  width: 59%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 768px) {
  .invoiceCar {
    margin-left: 0%;
    margin-right: 2%;
    width: 100%;
  }
  .invoiceCar .column .column .column .row {
    flex-direction: column;
    align-items: center;
  }
}
.invoiceCar div {
  margin: 10px 0;
}
.invoiceCar .date {
  margin: 0px 10px;
}

.addCar {
  background-color: #083540;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  padding-bottom: 3%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .addCar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.addCar div {
  margin: 20px 0;
}
.addCar .column .error {
  color: red;
  margin-top: 2px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .addCar {
    width: 100%;
    padding: 3px;
  }
}

.user {
  background-color: #d9bd30;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  margin-top: 210px;
  margin-left: 17%;
  padding-bottom: 1%;
  width: 59%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 873px) {
  .user {
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .user h1 {
    text-align: center;
    padding: 4% 2%;
  }
  .user label {
    text-align: center;
    padding: 0% 2%;
  }
}
.user .textPassword {
  font-size: 0.8em;
  margin-top: 3px;
  text-align: center;
  width: 50%;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .user {
    text-align: center;
  }
}
.user div {
  padding-bottom: 20px;
}
.user div .message {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
}
@media screen and (max-width: 768px) {
  .user div .message {
    overflow-wrap: break-word;
    hyphens: manual;
  }
}
.user div .button {
  margin-top: 30px;
}

.pass .input {
  width: 45%;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "montserratExtra";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
.userStatistics {
  background-color: #083540;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  width: 66%;
  padding: 0 1% 3% 1%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .userStatistics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media only screen and (max-width: 768px) {
  .userStatistics .liStatis .row {
    flex-direction: column;
  }
  .userStatistics .liStatis p {
    text-align: center;
  }
}
.userStatistics .button {
  margin-top: 7%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
.userStatistics .button:hover {
  color: #d94625;
}
.userStatistics .column .right {
  margin: 0 10px;
}
.userStatistics div {
  margin: 2% 0;
}
@media screen and (max-width: 768px) {
  .userStatistics {
    width: 100%;
  }
}

.addInvoice {
  background-color: #8c641b;
  border-radius: 28px;
  height: 100%;
  padding: 0px 2px;
  padding-bottom: 4%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .addInvoice {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .addInvoice {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .addInvoice .column .row {
    flex-direction: column;
    align-items: center;
  }
}
.addInvoice li {
  margin: 40px 0;
}
.addInvoice .date {
  margin: 0;
  margin-right: 15px;
}

.menuInvoice {
  margin-top: 370px;
  width: 100%;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .menuInvoice {
    margin-top: 260px;
    width: 100%;
  }
}
.menuInvoice .row {
  justify-content: center;
  align-items: center;
}
.menuInvoice .boton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
  width: 120px;
  margin: 0 10px;
  background-color: #8c641b;
  justify-content: center;
  border-radius: 15px;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 768px) {
  .menuInvoice .boton {
    height: 70px;
    width: 70px;
    margin: 0 2px;
  }
}
.menuInvoice .boton:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
.menuInvoice .boton:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}
.menuInvoice p {
  color: #f2f2f2;
  margin-top: 15px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .menuInvoice p {
    margin-top: 0;
    font-size: 0.6em;
  }
}

.editInvoice {
  background-color: #8c641b;
  border-radius: 28px;
  height: 100%;
  width: 66%;
  padding: 5px 2px;
  padding-bottom: 2.5%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .editInvoice {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .editInvoice {
    width: 100%;
  }
}
.editInvoice .column p {
  margin: 20px 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .editInvoice .column {
    overflow-x: auto;
  }
}
.editInvoice .column div {
  margin-bottom: 10px;
}
.editInvoice div {
  margin: 20px 0;
}
.editInvoice .table {
  margin-top: 50px;
}
.editInvoice td,
.editInvoice th {
  width: 120px;
  height: 0px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .editInvoice td,
.editInvoice th {
    font-size: 0.9em;
  }
}
.editInvoice .icon {
  width: 20px;
}

.conta {
  width: 66%;
  height: 100%;
}
.conta .deleteInvoice {
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  width: 100%;
  height: 250px;
  border-radius: 28px;
  background-color: #8c641b;
}
@media screen and (max-width: 768px) {
  .conta .deleteInvoice {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .conta .deleteInvoice .column {
    text-align: center;
  }
}
.conta .response-button {
  width: 70%;
  padding-top: 10%;
}
.conta .response-button .button {
  width: 150px;
  margin-right: 3%;
}
@media screen and (max-width: 768px) {
  .conta .response-button .button {
    margin: 2% 0;
  }
}
.conta .response-button .yes {
  background-color: red;
}
.conta .response-button .yes:hover {
  opacity: 0.8;
  background-color: #7d0808;
}
.conta div {
  margin: 20px 0px;
  height: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .conta {
    width: 100%;
  }
}

.modifiInvoici {
  background-color: #8c641b;
  border-radius: 28px;
  height: 100%;
  justify-content: center;
  margin-right: 7px;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .modifiInvoici {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.modifiInvoici .subModifi {
  margin: 20px 0px;
}
.modifiInvoici li {
  margin: 30px 0px;
}
@media screen and (max-width: 768px) {
  .modifiInvoici {
    width: 100%;
  }
}

.listedHistory {
  background-color: #d94625;
  border-radius: 28px;
  height: 100%;
  padding: 0px 2px;
  padding-bottom: 2.5%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .listedHistory {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.listedHistory .contained {
  height: 100%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .listedHistory .contained {
    overflow-x: auto;
    padding-bottom: 5%;
  }
}
.listedHistory .contained .table {
  height: 100%;
}
.listedHistory .contained .table p {
  text-align: center;
}
.listedHistory .contained td,
.listedHistory .contained th {
  width: 120px;
  height: 0px;
  padding: 10px 15px;
}
@media screen and (max-width: 768px) {
  .listedHistory {
    width: 100%;
  }
}

.select-car {
  background-color: #083540;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .select-car {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
@media screen and (max-width: 768px) {
  .select-car {
    width: 100%;
  }
}
.select-car div {
  margin: 20px 0px;
}
.select-car div p {
  text-align: center;
}
.select-car .row {
  justify-content: space-around;
}
.select-car .row .favorite p {
  margin-bottom: 35px;
}
.select-car .row div {
  margin: 20px 0px;
}
.select-car .row .select {
  width: 100%;
}
.select-car .row .button {
  padding: 0 5px;
}
@media screen and (max-width: 768px) {
  .select-car .row {
    width: 100%;
    padding: 3px;
  }
  .select-car .row div {
    width: 100%;
  }
  .select-car .row div button {
    line-height: 1.1;
    font-size: 0.8em;
    padding: 1px 0;
  }
}

section .menuSetting {
  border-radius: 28px;
  margin-top: 370px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  section .menuSetting {
    margin-top: 260px;
    width: 100%;
  }
}
section .menuSetting .row {
  justify-content: center;
}
section .menuSetting div {
  margin: 0px 10px 3px 0px;
}
@media only screen and (max-width: 768px) {
  section .menuSetting div {
    margin: 1px 1px;
  }
}
section .menuSetting div .b-alert {
  align-items: center;
  background-color: #083540;
  border-radius: 15px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  justify-content: space-evenly;
  width: 120px;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media only screen and (max-width: 768px) {
  section .menuSetting div .b-alert {
    height: 70px;
    width: 70px;
  }
  section .menuSetting div .b-alert .img30 {
    height: 20px;
    width: 20px;
  }
  section .menuSetting div .b-alert .img50 {
    height: 23px;
    width: 31px;
  }
  section .menuSetting div .b-alert .img40 {
    height: 25px;
    width: 25px;
  }
  section .menuSetting div .b-alert p {
    font-size: 0.6em;
  }
}
section .menuSetting div .b-alert p {
  text-align: center;
}
section .menuSetting div .b-alert:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
section .menuSetting div .b-alert:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}

.fuel {
  background-color: #083540;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  padding-bottom: 3%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .fuel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.fuel div {
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .fuel {
    width: 100%;
    padding: 3px;
  }
}

section .pswforget {
  background-color: #d9bd30;
  border-radius: 28px;
  margin: 200px 0px 0px 0px;
  width: 55%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
section .pswforget label {
  margin-top: 2%;
}
section .pswforget p {
  text-align: center;
  margin-top: 1%;
}
section .pswforget input {
  width: 60%;
}
@media screen and (max-width: 768px) {
  section .pswforget {
    margin: 200px 0px 0px 0px;
    width: 100%;
  }
}
section .pswforget form div {
  margin: 20px 0px;
}
section .pswforget div {
  margin: 20px 0px;
}
@media only screen and (max-width: 768px) {
  section .pswforget {
    padding: 10px 10px;
  }
  section .pswforget div {
    margin: 10px 0px;
  }
  section .pswforget p {
    font-size: 0.8em;
    text-align: center;
  }
}

.form-signin {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 550px) {
  .form-signin {
    margin-left: 0;
  }
}
.form-signin .wraper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-signin .wraper .text {
  padding: 0 20%;
}
.form-signin .wraper .text p {
  color: black;
  text-align: justify;
  line-height: 1.3em;
}
.form-signin .wraper .containerMain {
  margin-top: 6em;
}
.form-signin .wraper .containerMain .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .conextion {
  margin-right: 5em;
}

.maintenance {
  background-color: #083540;
  border-radius: 28px;
  color: #f2f2f2;
  height: 100%;
  padding-bottom: 3%;
  width: 66%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
@media screen and (max-width: 768px) {
  .maintenance {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.maintenance .inputSpace {
  margin-right: 20px;
}
.maintenance div {
  margin: 5px 0;
}
.maintenance .date {
  margin-right: 20px;
}
.maintenance .textTitleInput {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .maintenance {
    width: 100%;
    padding: 2px;
  }
}

.headerAdmin {
  width: 100%;
  height: 140px;
  background-color: #d94625;
  position: fixed;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  text-decoration: none;
  z-index: 999;
}
.headerAdmin nav {
  margin: 0 7%;
}
@media screen and (max-width: 768px) {
  .headerAdmin nav {
    margin: 0;
    margin: 0 2%;
  }
}
.headerAdmin .deconection {
  text-align: right;
  padding-top: 10px;
}
.headerAdmin a {
  text-decoration: none;
}
.headerAdmin .row {
  padding: 0% 3.18% 0% 3.18%;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .headerAdmin .row {
    padding-left: 0%;
  }
  .headerAdmin .row .logos img {
    height: 64px;
    width: 119px;
  }
}
.headerAdmin .row .li_button {
  text-align: right;
}
.headerAdmin .navegation {
  padding-top: 1%;
  padding-right: 2.18%;
}
@media screen and (max-width: 550px) {
  .headerAdmin .navegation {
    padding-top: 2%;
  }
}
.headerAdmin .navegation .nave .row {
  justify-content: space-around;
}
@media screen and (max-width: 550px) {
  .headerAdmin .navegation .nave {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 22%;
  }
  .headerAdmin .navegation .nave .li-user {
    margin-right: 69%;
    justify-content: center;
  }
}
.headerAdmin .navegation .bonjour {
  margin-left: 5%;
  padding-top: 5px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .headerAdmin .navegation .bonjour {
    margin-left: 0;
  }
}
.headerAdmin .navegation .bonjour .par {
  color: #f2f2f2;
  font-size: 0.9em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .headerAdmin .navegation .bonjour .par {
    font-size: 0.8em;
    padding-bottom: 1%;
  }
}

.white {
  width: 66%;
  height: 100%;
  background-color: white;
}

.execute {
  width: 100%;
}
.execute .banner {
  background-color: #d9bd30;
  border-radius: 28px;
  color: #f2f2f2;
  padding: 50px;
  width: 50%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .execute .banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.execute .banner h6 {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .execute .banner {
    padding: 50px 2px;
    width: 100%;
    margin-right: 30%;
  }
}

.page404 {
  width: 100%;
  height: 100vh;
  background-color: #d9bd30;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.mention {
  padding: 5% 15%;
  color: black;
  line-height: 25px;
}
.mention ul li {
  list-style-type: circle;
  margin-left: 4%;
}
.mention p {
  color: #353535;
  font-size: 1em;
  text-align: left;
  padding: 20px;
}

.help {
  width: 100%;
}
.help .banner {
  background-color: #d9bd30;
  border-radius: 28px;
  color: #f2f2f2;
  padding: 30px;
  width: 100%;
  margin-top: 240px;
  margin-left: 11.83%;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .help .banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }
}
.help .banner h6 {
  text-align: center;
  margin-bottom: 20px;
}
.help .banner .row {
  flex-wrap: nowrap;
  margin: 1% 0%;
}
.help .banner .row p {
  line-height: 1.2;
  text-align: justify-all;
  margin-left: 2%;
}
@media screen and (max-width: 768px) {
  .help .banner .row {
    margin: 2% 1%;
  }
  .help .banner .row p {
    font-size: 0.7em;
  }
}
.help .banner .row .text {
  text-align: justify;
}
.help .banner .end {
  text-align: left;
  padding-right: 27%;
}
.help .banner .begin {
  margin-top: 5%;
}
@media screen and (max-width: 768px) {
  .help .banner {
    padding: 50px 2px;
    width: 100%;
    margin-right: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
