input {
  font-family: "montserrat";
  color: black;
  text-align: center;
}

select {
  font-family: "montserrat";
  color: black;
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.h1Title {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  font-family: "montserrat", sans-serif;
  height: 1500px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #d94625;
  position: fixed;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
}

.logo {
  width: 60%;
  padding-left: 7.18%;
  /* align-self: center; */
}

a {
  text-decoration: none;
}

.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.navegation {
  width: 40%;
  padding-left: 5%;
  align-self: flex-end;
  padding-top: 10px;
  /* flex: auto; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* margin-left: auto; */
  /* padding-right: 20px; */
}

.bonjour {
  padding-bottom: 3px;
  width: 100%;
}

.bonjour p {
  text-align: left;
  padding-left: 65%;
  color: #f2f2f2;
}

.button,
.button_admin {
  width: 240px;
  height: 35px;
  border-radius: 15px;
  background-color: #083540;
  border-color: transparent;
  color: #f2f2f2;
}

.button_admin {
  width: 200px;
  height: 40px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 28px;
  /* padding-left: auto; */
  /* padding-right: auto; */
}

.button_admin a {
  color: #f2f2f2;
  padding-right: 20px;
}

.button_admin img {
  margin-left: 20px;
}

.navegation ul {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.li_button a {
  display: block;
  width: 200px;
  margin-right: 20px;
}

.menu-login,
.login,
.submit,
.nsubmit,
.compte {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.login,
.compte {
  background-color: #bf9926;
  height: 450px;
  width: 574px;
  border-radius: 28px;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
}

.menu-login .new {
  height: 550px;
}

.pseudo {
  margin-bottom: 20px;
}

.mail {
  margin-top: 0px;
}

.div-password {
  padding-top: 50px;
}

.submit {
  padding-top: 20px;
}

.nsubmit {
  margin-top: 0px;
}

.compte {
  height: 106px;
  margin-top: 20px;
  opacity: 0.6;
}

.email,
.password {
  width: 300px;
  height: 46px;
  border-radius: 15px;
  border-color: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.div {
  margin-top: 30px;
}

.nsubmit {
  margin-top: 50px;
}

.parrafo-compte {
  margin-bottom: 5px;
}

.pa {
  margin-bottom: 29px;
}

.parrafo-mot {
  margin-top: 1px;
  text-align: right;
  color: black;
}

.button p,
.creercompte p {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  /* margin: 0; */
  font-weight: bold;
  color: #f2f2f2;
}

.menu-login .message {
  padding-top: 2px;
  font-weight: bold;
}

.button {
  width: 240px;
  height: 35px;
  border-radius: 15px;
  background-color: #083540;
  border-color: transparent;
  color: #f2f2f2;
}

.accueil {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accueil .texto {
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  width: 600px;
  border-radius: 28px;
  margin-top: 200px;
  height: 200px;
  border-color: transparent;
  border: 2px;
  background-color: #bf9926;
}
.accueil .texto p {
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
}
.accueil .texto a {
  color: #f2f2f2;
}
.accueil .continuer {
  margin-left: auto;
  display: flex;
  background-color: #083540;
  /* display: inline-block; */
  /* float: right; */
  height: 40px;
  border-radius: 15px;
  width: 50%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebarCompte {
  margin-left: 7%;
  padding-top: 200px;
  width: 20%;
}
.sidebarCompte li {
  margin-top: 10px;
}
.sidebarCompte li .b-alert {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  background-color: #d9bd30;
}
.sidebarCompte li .b-alert img {
  margin-left: 10px;
}
.sidebarCompte li .b-alert p {
  margin-left: 15px;
  text-align: left;
}
.sidebarCompte li .b-alert:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
.sidebarCompte li .b-alert:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}

.sidebarAdmin {
  margin-left: 7%;
  padding-top: 150px;
  width: 20%;
}
.sidebarAdmin li {
  margin-top: 40px;
  width: 40%;
}
.sidebarAdmin li .border {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  justify-content: stretch;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
}
.sidebarAdmin li .border img {
  margin-bottom: 5px;
}
.sidebarAdmin li .border:hover {
  background-color: #d9bd30;
  opacity: 0.5;
  transition: all 600ms ease;
}
.sidebarAdmin li .border:active {
  background-color: #d94625;
  color: #d94625;
  opacity: 1;
}
.sidebarAdmin .b-alert {
  background-color: #d9bd30;
}
.sidebarAdmin .b-invoice {
  background-color: #8c641b;
}
.sidebarAdmin .b-statistic {
  background-color: #bf9926;
}
.sidebarAdmin .b-history {
  background-color: #d94625;
}

.alerts {
  width: 60%;
  height: 350px;
}
.alerts .contained {
  background-color: #d9bd30;
  width: 60%;
  height: 350px;
  margin-top: 100px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.car {
  width: 60%;
  height: 450px;
}

.car .contained {
  background-color: #d9bd30;
  width: 60%;
  height: 450px;
  margin-top: 0;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.car .contained {
  height: 700px;
}

.as {
  width: 100%;
}

.invoice {
  width: 60%;
  height: 350px;
}

.invoice .contained {
  background-color: #8c641b;
  width: 60%;
  height: 350px;
  margin-top: 100px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.select {
  height: 100px;
}

.data {
  height: 150px;
}

.confirmation {
  height: 60px;
}

.confirmation .conf {
  background-color: #083540;
  width: 100%;
  height: 35px;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 0 18px;
  justify-content: center;
}

.conf p {
  letter-spacing: 1pt;
  font-weight: bold;
  text-transform: uppercase;
}

.contained input {
  border-radius: 15px;
  height: 40px;
}

.km {
  margin: 0 15px 0 15px;
}

.statistics {
  width: 60%;
  height: 350px;
}

.statistics .contained {
  background-color: #bf9926;
  width: 60%;
  height: 350px;
  margin-top: 100px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.date {
  margin: 0 15px 0 15px;
}

.history {
  width: 60%;
  height: 350px;
}

.history .contained {
  background-color: #d94625;
  width: 60%;
  height: 350px;
  margin-top: 100px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.user {
  width: 60%;
  height: 450px;
}

.user .contained {
  background-color: var(--main-color-alert);
  width: 60%;
  height: 450px;
  margin-top: 100px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.user .column {
  padding-bottom: 20px;
}

.trademark {
  font-size: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.invoiceCar {
  margin-right: -70px;
  width: 60%;
  margin-top: 146px;
}
.invoiceCar .containedCar {
  background-color: #d9bd30;
  width: 60%;
  margin-top: 30px;
  border-radius: 28px;
  height: 800px;
}

.input {
  border-radius: 15px;
  width: 100%;
  height: 30px;
}

.selectCar {
  margin-bottom: 20px;
}

.textTitleInput {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.h3Car {
  font-weight: bold;
  font-size: 1.2em;
}

.inputSpace {
  margin-right: 81px;
}

.buttonSubmit {
  margin-top: 20px;
}

.addCar {
  margin-top: 250px;
  border-radius: 28px;
  background-color: #d9bd30;
  width: 30%;
  height: 300px;
  margin-right: 370px;
}

.h1Title {
  font-weight: bold;
}

.formLabel {
  margin-bottom: 10px;
}

.inputTrade {
  margin-bottom: 25px;
}

.user {
  width: 30%;
  height: 450px;
  background-color: #d9bd30;
  margin-top: 250px;
  border-radius: 28px;
  padding-top: 40px;
  margin-right: 370px;
}

.form {
  margin-top: 20px;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.h1Title {
  font-weight: bold;
}

.userStatistics {
  width: 40%;
  height: 578;
  background-color: #d9bd30;
  margin-top: 250px;
  border-radius: 28px;
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
  margin-right: 300px;
}
.userStatistics .button {
  filter: drop-shadow(2px 5px 15px -2px #b4b2ba);
  box-shadow: 2px 5px 15px -2px #b4b2ba;
}
.userStatistics .button:hover {
  color: #d94625;
}

.liStatis {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonStatis {
  margin-top: 50px;
}

.as {
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
