@import "fonts";
.userStatistics {
    background-color: $color-button-header;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    margin-top: 200px;
    width: 66%;
    padding-bottom: 5px;
    @include shadow;
    .liStatis {
        @media only screen and(max-width: 768px) {
            .row {
                flex-direction: column;
            }
            p {
                text-align: center;
            }
        }
    }
    .button {
        @include shadow;
        &:hover {
            color: $color-history;
        }
    }
    .column {
        .right {
            margin: 0 px 30px;
        }
    }
    div {
        margin: 10px 0px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
