    @import 'color';
    .accueil {
        display: flex;
        align-items: center;
        justify-content: center;
        .texto {
            box-shadow: 2px 5px 15px -2px $color-shadow;
            filter: drop-shadow(2px 5px 15px -2px $color-shadow);
            width: 600px;
            border-radius: 28px;
            margin-top: 200px;
            height: 200px;
            border-color: transparent;
            border: 2px;
            background-color: $color-statistic;
            p {
                padding-top: 10px;
                padding-left: 10px;
                color: #000;
            }
            a {
                color: $color-texto;
            }
        }
        .continuer {
            margin-left: auto;
            display: flex;
            background-color: $color-button-header;
            /* display: inline-block; */
            /* float: right; */
            height: 40px;
            border-radius: 15px;
            width: 50%;
            /* text-align: center; */
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            box-shadow: 2px 5px 15px -2px $color-shadow;
            filter: drop-shadow(2px 5px 15px -2px $color-shadow);
        }
    }