footer {
    margin: 10% 0%;
    padding: 0 10%;

    nav ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        margin-left: auto;
        margin-right: auto;
        font-size: 0.7em;
        div {
            p {
                color: $color-text-footer;
                text-align: center;
            }
            a {
                color: $color-text-footer;
            }
        }
    }
}
