.addCar {
    background-color: $color-button-header;
    border-radius: 28px;
    color: $color-texto;
    height: 100%;
    padding-bottom: 3%;
    width: 66%;
    @include topDiv;
    @include shadow;
    div {
        margin: 20px 0;
    }
    .column {
        .error {
            color: red;
            margin-top: 2px;
            text-align: center;
        }
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 3px;
    }
}